.ipynb_checkpoints
.DS_Store
.vscode
__pycache__
output
.style.yapf
format.sh
save
*.mid
checkpoints/eval
*.wav
experiments/

train.json
tmp/
_old/
Dockerfile
.devcontainer/
*.npy
run_generate_song_data.sh
data/
*.tar